<h1><%=@word%></h1>
<% @alphabet.each() do |letter|%>
  <a href='/hangman/<%=letter%>'><%=letter%></a>
<%end%>
<%=@no%>
 <p><%=@selected_letters%></p>
 <p><%=@status%></p>
 <%=@word.to_s.split('').count()%>
<%@word.to_s.split('').each() do |letter|%>
_
<%end%>
